<div class="firstclass Member" (click)="show($event)">
  <div class="classone">
    <div class="scrumlogoclass">
      <img src="../../assets/Scrum.png" (click)="openDashboardPage()">
    </div>
    <div class="textdiv">
      <div id="dailyscrumclass" *ngIf="show_dailyscrum" (mouseenter)="showTooltip=true" (mouseleave)="showTooltip=flase">{{selected.projectName}}
      </div>
      <div id="scrum" class="scrum" *ngIf="show_scrum">Daily Scrum
        <div id="dash" *ngIf="show_dash"> {{title}}</div>
      </div>
      <div id="arrow" *ngIf="show_arrow && length > 1">
        <div id="projectlist" *ngIf="show_projectlist">
          <div *ngFor="let project of projects">
            <div class="items" *ngIf="project.projectName != selected.projectName" (click)="changeProject(project)">{{project.projectName}}</div>
          </div>
        </div>
      </div>
      <div class="usermailclass">
        <div class="button desktop">{{member.email}}</div>
        <div class="mobile">
          <img class="dp" [src]="getImage()">
        </div>
        <div class="arrow2">
          <div id="signout" *ngIf="show_signout">
              <div id="sign" class="a" (click)="logout()"> Logout </div>
            <div id="feed" class="a" (click)="openModal(template)"> Feedback </div>
          </div>
        </div>
      </div>
      <ng-template #template>
          <div class="modal-body text-center">
          <div id="vis" class="Feed">
            <div class="TopDiv">
              <div class="FeedbackText">
                Feedback and Suggestions
              </div>
            </div>
            <div class="MiddleDiv">
              <textarea 
                id="feedbackDesc" 
                class="textarea" 
                placeholder="I would like to.." 
                [(ngModel)]="feedback.feedbackDescription" 
                (click)="invalidDescription=false">
              </textarea>
              <small *ngIf="invalidDescription" class="error">
                Please enter description
              </small>
            </div>
            <div class="BottomDiv">
              <button class="cancel" (click)="decline()">Cancel</button>
              <button class="submit" (click)="postFeedback(feedback)">Submit</button>
            </div>
          </div>
       </div>
      </ng-template>
