<div class="firstclass Member" (click)="show($event)">
  <div class="classone">
    <div class="scrumlogoclass">
      <img src="../../assets/Scrum.png" (click)="openDashboardPage()">
    </div>
    <div class="textdiv">
      <div id="dailyscrumclass">{{selected.projectName}}
      </div>
      <div id="scrum">Daily Scrum
        <div id="dash">{{title}}</div>
      </div>
      <div id="arrow">
        <div id="projectlist">


            <div *ngFor="let projectupdated of projectArray">         
            <div class="items" (click)="changeProject(projectupdated)">{{projectupdated.projectName}}</div>
          </div>
       
       
       
       
       
       
       
        </div>
      </div>
      <div class="usermailclass">
        <div class="button desktop">{{member.email}}</div>
        <div class="mobile">
          <img class="dp" [src]="getImage()">
        </div>
        <div class="arrow2">
          <div id="signout" (click)="logout()">
            <div class="a"> Signout </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
