<div class="main-div">
  <div class="tabs">
    <div id="projects-tab" class="projects-tab" (click)="activateTab(1)">PROJECTS</div>
    <div id="users-tab" class="users-tab" *ngIf="flag1 === true" (click)="activateTab(2)">USERS</div>
    <div id="goals-tab" class="goals-tab" *ngIf="UserType === 'Manager' || UserType === 'User'" (click)="activateTab(3)">GOALS</div>
    <div id="feedback-tab" class="feedback-tab" *ngIf="flag1 === true" (click)="activateTab(4)">FEEDBACK</div>
  </div>
  <button class="add-pro-button" *ngIf="activetab==1 && flag2 === true" (click)="AddProject()">
    <div class="add-project-div">Add Project</div>
  </button>
  <div class="mob-view" *ngIf="activetab==1 && flag2 === true" (click)="AddProject()">
    <span class="glyphicon glyphicon-plus"></span>
  </div>
  <button class="add-pro-button" *ngIf="activetab==3 && UserType === 'Manager'" (click)="AddGoal()">
    <div class="add-new-div">Add New</div>
  </button>
  <div class="mob-view" *ngIf="activetab==3 && UserType === 'Manager'" (click)="AddGoal()">
    <span class="glyphicon glyphicon-plus"></span>
  </div>
</div>
<div *ngIf="activetab==1">
  <app-dashboard></app-dashboard>
</div>
<div *ngIf="activetab==2">
  <app-adminviewall></app-adminviewall>
</div>
<div *ngIf="activetab==3">
  <app-goals></app-goals>
</div>
<div *ngIf="activetab==4">
  <app-feedback [firstFeedback] = "firstFeedbackmember" [feedbackUserList]="feedbackUserList"></app-feedback>
</div>
