<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body">
      <div class="container">
        <div class="login-page">
            <div class="container">
              <div >
                <img class="form" src="../../assets/Group_4.png">
              </div>
              <div >
                    <p class="title">Daily Scrum</p>                
              </div>              
            </div>
            
            <div >
              <p class="description">Welcome to Daily Scrum, create an account to get started</p>
            </div>
            <div ><a href="default.asp">
                <img class="signin" src="../../assets/btn_google_signin_dark_normal_web.png"></a>
            </div>
            <div class="terms">
              <p>By signing up you agree to QBurst <br><b>Terms and conditions & privacy policy</b></p>
            </div>
            <div class="footer">
              <p>Feedbacks / Suggessions</p>
            </div>
        </div>
        <div class="logo">
          <p class="moto"> Stay Positive, Work Hard, <br>Make it Happen</p>
          <div><img class="company" src="../../assets/QBurst_white-2x.png"></div>
        </div>
      </div>
</div>
