<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="body">
      
        <div class="login-page">
            <div class="container">
              <div class="form">
                <img  src="../../assets/Group_4.png">
              </div>
              <div class="title">
                Daily Scrum               
              </div> 
            </div>
              <div class="logo">
                  <div >
                    <p class="moto"> Stay Positive, Work Hard, <br>Make it Happen</p>
                      <div><img class="company" src="../../assets/QBurst_white-2x.png"></div>
                    </div>
              </div>             
            
            
            <div >
              <p class="description">Welcome to Daily Scrum, create an account to get started</p>
            </div>
            <div class="signin">
              <div>
                <img  class="Google" src="../../assets/Google_logo.png"> 
              </div>
              <div >
                <button class="text"><b>Sign in with Google</b></button>
              </div>
            </div>
            <div class="terms">
              <p>By signing up you agree to QBurst <br><b>Terms and conditions & privacy policy</b></p>
            </div>
            <div class="footer">
              <p>Feedbacks / Suggessions</p>
            </div>
        </div>
        
      
</div>
