<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="body">
  <div class="outer">
    <div class="inner">
        <div class="innerelement1"></div>
        <div class="innerelement2"> </div>
           <div class="login-page"> 
             <div class="first-class">
              <div  class="form">
                <img  src="../../assets/Group_4.png">
              </div>
              <div class="title">
                Daily Scrum               
              </div> 
            
              <div class="description">
                Welcome to Daily Scrum,<br> create an account to get started
              </div>
              <div class="signin" (click)="socialSignIn('google')">
                <div  class="Google"></div>    
              </div>  
                
            
              <div class="terms">
                <p>By signing up you agree to QBurst <br><b>Terms and conditions & privacy policy</b></p>
              </div>
              <div class="footer">
                <p>Feedbacks / Suggessions</p>
              </div> 
              <div class="company1"></div>
            </div>
              <div class="second-class">  
              <div class="logo">
                  <div class="moto">
                     Stay Positive, Work Hard, Make it Happen</div>
                  <div class="company"></div>                    
              </div> 
            </div>                                                        
        </div>
      
    </div>
  </div>
</div>
