<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
</head>

<body *ngIf="flag === true">
  <div class="right-header">
    <app-userslist [childProject]="currentProject" [childProjectId]="projectId"></app-userslist>
    <div class="today_header">
      <div class="today_task_header" (click)="showDatePicker=true" type="text" [minDate]="minDate" [maxDate]="maxDate"
        #dp="bsDatepicker" [bsConfig]="datePickerConfig" bsDatepicker [(bsValue)]="myDateValue" (onHidden)="showDatePicker=false"
        (bsValueChange)="onDateChange($event)">{{todayval}}</div>
      <img class="left-arrow" src="../../assets/arrow-left.png" align="top" (click)="getPreviousDate()">
      <img class="right-arrow" src="../../assets/arrow-right.png" align="top" (click)="getNextDate()">
      <button *ngIf="view_my_task_flag==true" class="view_all_task" (click)="viewMyTasks()">
        <img class="view" src="../../assets/Group_24-2x.png" align="top">
        <div class="my_task">View my tasks</div>
      </button>
      <div class="altView" (click)="viewMyTasks()"><img class="alt-View" src="../../assets/vire_my_tasks.png"></div>
    </div>
  </div>

  <div class="total_time">
    <div class="total_time_border">
      <div class="total_time_text"> {{total_hours_spent}}h {{total_minutes_spent}}m</div>
      <div class="spent_text">Total Task Hours</div>
    </div>
  </div>
  <div class="main">
    <div class="header">
      <div *ngFor="let IndMemOb of IndMembArray">
        <div class="column">
          <div class="member1">
            <div class="member_title1">
              <div class="member_image1"><img class="size" src={{IndMemOb.image}}></div>
              <div class="member_name1">{{IndMemOb.name}}</div>
              <div class="more_icon"><img src="../../assets/more.png"></div>
              <div class="member_time_spent1">{{IndMemOb.hour}} h {{IndMemOb.minute}} m</div>
            </div>
            <div class="member_part">
              <div *ngFor="let Task of IndMemOb.tasks ">
                <span *ngIf="Task.taskId%5===0" class="dot dot-color-1"></span>
                <span *ngIf="Task.taskId%3===0 && Task.taskId%5!=0" class="dot dot-color-2"></span>
                <span *ngIf="Task.taskId%2===0 && Task.taskId%3!=0 && Task.taskId%5!=0" class="dot dot-color-3"></span>
                <span *ngIf="Task.taskId%2!=0 && Task.taskId%3!=0  && Task.taskId%5!=0" class="dot dot-color-4"></span>
                <div class="task">
                  {{Task.description}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
