<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  </head>
<body>  
<div class="right-header">
  <div class="today_header">
    <div class="today_task_header" (click)="showDatePicker=true" type="text" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker"
      [bsConfig]="datePickerConfig" bsDatepicker [(bsValue)]="myDateValue" (onHidden)="showDatePicker=false" (bsValueChange)="onDateChange($event)">{{todayval}}</div>
    <img class="left-arrow" src="../../assets/arrow-left.png" align="top" (click)="getPreviousDate()">
    <img class="right-arrow" src="../../assets/arrow-right.png" align="top" (click)="getNextDate()">  
    <button class="view_all_task">
      <img class="view" src="../../assets/Group_24-2x.png" align="top">
      <div class="my_task">View my tasks</div>
    </button> 
  </div>
   
</div>
<div class="total_time">
  <div class="total_time_border">
    <div class="total_time_text"> {{total_hours_spent}}h {{total_minutes_spent}}m</div>
    <div class="spent_text">Total Task Hours</div>
  </div>
  <div class="filter">Filter by:</div>
  <div class="buttons">
    <button class="allTask">All Tasks</button>
    <button class="complete">Completed</button>
    <button class="progress">In Progress</button>
    <button class="impediments">Impediments</button>
  </div>
</div>
<div class="main">
<div class="header"> 
  <div  *ngFor="let task of MockMember1">
      <div class="column" >
        <div class="member1"> 
            <div class="member_title1">
            <div class="member_image1"></div>
            <div class="member_name1">{{task.member_name}}</div>
            <div class="more_icon"><img  src="../../assets/more.png"></div> 
            <div class="member_time_spent1">{{task.hours_spent}} h {{task.minutes_spent}} m</div>
            
            
          
          </div>
              
         <div class="member_part">
                      
            <!-- <ul> -->
              <li [ngStyle]="{'color': getRandomColor()}"><span style="color: rgba(96, 96, 96, 1)">{{task.task1}}</span></li>
              <li [ngStyle]="{'color': getRandomColor()}"><span style="color: rgba(96, 96, 96, 1)">{{task.task2}}</span></li>
            <!-- </ul>  -->
         
         </div> 
     </div>
    </div>
  </div> 
</div>
<div class="search">
  <img class="search_icon" src="../../assets/Combined_Shape_Copy_2.png">
  <div class="member_logo" *ngFor="let task of MockMember1">
    <!-- <img src={{task.imageurl}}> -->
  </div>
</div>
</div>
</body>


  