.userlist-maindiv {
  /* margin-top:50px; */
  background: #ffffff;
  position: fixed;
  top: 60px;
  z-index: 500;
  box-sizing: border-box;
  width: 200px;
  height: 100%;
  float: right;
  border-left:solid 1px rgb(218, 218, 218);
  border-color: rgb(218, 218, 218);
  border-width: 1px;
}
/* .userlist-maindiv:hover {
  width:250px;
} */
.search {
  display: flex;
  height: 60px;
  border-bottom-style: solid;
  /* border-top-style: solid; */
  border-width: 1px;
  border-color: rgb(218, 218, 218);
}

input[placeholder="Search User"] {
  border: none;
  outline: none;
  height: 32px;
  width: 165px;
  color: rgba(0, 0, 0, 1);
  font-family: 'Roboto';
  font-size: 16px;
}
.search_icon {
  padding: 7.5% 0% 8% 8%;
}

.search_name {
  padding: 5% 0% 5% 5%;
}

.member {
  height: 42px;
  padding: 5px 30px 5px 7%;
  margin: 5px 9px 0px 0px;
  display: flex;
  cursor: pointer;
}

.member_logo {
  height: 32px;
  width: 32px;
  border-radius: 50px;
}

.member_name {
  padding: 7px 0 8px 8px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dot {
  position: relative;
  top: 14px;
  left: 6px;
  border: none;
  height: 9px;
  width: 9px;
  cursor: default;
  border-radius: 50%;
  background-color: rgba(177, 177, 177, 1);
}

.member:hover,
.focus {
  background-color: rgba(242, 242, 242, 1);
  border-radius: 40px;
}

@media only screen and (max-width: 700px) {

  .userlist-maindiv {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    overflow-x: auto;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
  }

  .search {
    border: none;
  }

  .search_icon {

    padding: 15px 10px;
  }

  .search_name {
    display: none;
    position: absolute;
    top: -22px;
    left: 40px;
    height: 32px;
    width: 80%
  }

  input[placeholder="Search"] {
    width: 80%;
  }

  .member {

    padding: 6px 8px;
    height: 44px;
    border-radius: 50px;
  }

  .member_name {
    display: none;
    margin: 0px 0px 0px 5px;
  }

  .dot {
    position: relative;
    top: 22px;
    left: -6px;
  }

  .block {
    display: block !important;
  }

  .flexed {
    display: flex;
  }

  .flex .member_name {
    display: flex;
  }

  .list {
    display: flex;
    position: fixed;
    left: 12%;
    width: 80%;
    background: #ffffff;
    max-height: 200px;
    overflow-y: auto;
  }

  .shadow {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.17);
    border-radius: 8px;
  }
}

@media only screen and (max-width: 510px) {
  .search_name {
    position: absolute;
    top: -19px;
  }
}

@media only screen and (max-width: 420px) {
  .search_name {
    position: absolute;
    top: -14px;
  }
}

@media only screen and (max-width: 330px) {
  .search_name {
    position: absolute;
    top: -10px;
  }

  .list {
    position: fixed;
    left: 14%;
  }
}
