<!-- <hr> -->
<div class="header-part">
  <div *ngIf="flag">
    <app-userslist [childProject]="currentProject" [childProjectId]="projectId" (selectedEmailEvent)="changeEmail($event)"></app-userslist>
  </div>
  <div class="name-button">
      <div class="task-holder">
          {{taskHolderName}}
        </div>
        <div class="view-all">
            <button class="view_all_task" *ngIf="flag" (click)="viewAllTasks()">
                <img class="view" src="../../assets/Group_24-2x.png" align="top">
                <div class="my_task">View all tasks</div>
              </button>
              <div *ngIf="flag" class="alt-View-class" (click)="viewAllTasks()"><img class="alt-View" src="../../assets/vire_my_tasks.png"></div>
            </div> 
    </div>
  <div>
    <div class="left-header">
      <div class="yesterday_task_header">{{yesterdayval}}</div>
      <div class="total_time">
        <div class="total_time_border">
          <div class="total_time_text"> {{total_hours_spent1}}h {{total_minutes_spent1}}m</div>
          <div class="spent_text">Hours spent</div>
        </div>
        <div class="last_edit_label">Last edit: {{lastEditString1}}</div>
      </div>
      
    </div>
    <div class="right-header">
      <div class="today_header">
        <div class="today_task_header" (click)="showDatePicker=true" type="text" [minDate]="minDate" [maxDate]="maxDate"
          #dp="bsDatepicker" [bsConfig]="datePickerConfig" bsDatepicker [(bsValue)]="myDateValue" (onHidden)="showDatePicker=false"
          (bsValueChange)="onDateChange($event)">{{todayval}}</div>
        <img class="left-arrow" src="../../assets/arrow-left.png" align="top" (click)="getPreviousDate()">
        <img class="right-arrow" src="../../assets/arrow-right.png" align="top" (click)="getNextDate()">
        <!-- <button class="view_all_task" *ngIf="flag" (click)="viewAllTasks()">
          <img class="view" src="../../assets/Group_24-2x.png" align="top">
          <div class="my_task">View all tasks</div>
        </button> -->
        <!-- <div *ngIf="flag" class="alt-View-class" (click)="viewAllTasks()"><img class="alt-View" src="../../assets/vire_my_tasks.png"></div> -->
      </div>
      <div class="today_task_label" *ngIf="total_hours_spent2 == 0 && total_minutes_spent2 == 0 && editable">Write about your tasks
        for today</div>

      <div class="total_time" *ngIf="total_hours_spent2 != 0 || total_minutes_spent2 != 0">
        <div class="total_time_border">
          <div class="total_time_text"> {{total_hours_spent2}}h {{total_minutes_spent2}}m</div>
          <div class="spent_text">Hours spent</div>
        </div>
        <div class="last_edit_label">Last edit: {{lastEditString2}}</div>
      </div>

    </div>
  </div>
</div>
<div class="main-part">
  <div class="vertical"></div>
  <div class="container left-part">
    <div class="left-inner-part">
      <div *ngFor="let yesterdayTask of MockYesterdayTasks">
        <app-individual-task [task]=yesterdayTask [editable]=editable (timeChangeEvent)="modifyTime($event, MockYesterdayTasks, 1)"
          (addUpdateTask)="newYesterdayTask($event)" (popTask)="popTask(MockYesterdayTasks, $event)"></app-individual-task>
      </div>
      <div class="new_task_field" (click)="addYesterdayTask()" *ngIf="editable">
        <img class="img_add_new_task" src="../../assets/add_new_task.png" align="top">
        <div class="add_task_label">
          Add new task here</div>
      </div>
    </div>
  </div>
  <div class="container right-part">
    <div class="right-inner-part">
      <div *ngFor="let todayTask of MockTodayTasks">
        <app-individual-task [task]=todayTask [editable]=editable (timeChangeEvent)="modifyTime($event, MockTodayTasks, 2)"
          (addUpdateTask)="newTodayTask($event, MockTodayTasks)" (popTask)="popTask(MockTodayTasks, $event)"></app-individual-task>
      </div>
      <div class="new_task_field" (click)="addTodayTask()" *ngIf="editable">
        <img class="img_add_new_task" src="../../assets/add_new_task.png" align="top">
        <div class="add_task_label">
          Add new task here</div>
      </div>
    </div>
  </div>
</div>
