/* customizing the scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(241, 241, 241, 1);
  border-radius: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(214, 214, 214, 1);
}

hr {
  position: absolute;
  top: 35px;
  z-index: 50;
  width: 100%;
  border: 0;
  border-top: 1px solid #dfded9;
}

.header-part {
  z-index: 10;
  transform-style: preserve-3d;
  position: fixed;
  top: 60px;
  background-color: white;
  width: 100%;
}

.left-header {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 5.37%;
}

.right-header {
  width: 50%;
  box-sizing: border-box;
  float: right;
  padding-left: 2.855%;
}

.main-part {
  padding-top: 200px;
  padding-bottom: 0.73%;
  z-index: 0;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.container {
  width: 48%;
  padding: 0px;
  height: 100%;
}

.left-part {
  float: left;
  box-sizing: border-box;
  padding-left: 5.5%;
  padding-right: 4.758%;
  height: 100%;
  overflow: scroll;
}

.right-part {
  float: right;
  padding-left: 0.9%;
  padding-right: 9.37%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#copy1,
#copy2 {
  height: 24px;
  width: 24px;
  background-color: rgba(151, 151, 151, 0.3);
  cursor: pointer;
  margin-top: 7px;
  margin-left: 40px;
  padding: 2px;
  padding-left: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

#block-copy1,
#block-copy2 {
  height: 24px;
  width: 24px;
  background-color: rgba(151, 151, 151, 0.3);
  cursor: not-allowed;
  margin-top: 7px;
  margin-left: 40px;
  padding: 2px;
  padding-left: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  opacity: 0.25;
}

img[src="../../assets/copy.png"] {
  height: 16px;
  width: 16px;
}

#delete1,
#delete2 {
  height: 24px;
  width: 24px;
  background-color: rgba(151, 151, 151, 0.3);
  cursor: pointer;
  margin-top: 7px;
  margin-left: 10px;
  padding-right: 1px;
  padding-top: 1px;
  padding-left: 6px;
  border-radius: 2px;
}

#block-delete1,
#block-delete2 {
  height: 24px;
  width: 24px;
  background-color: rgba(151, 151, 151, 0.3);
  cursor: not-allowed;
  margin-top: 7px;
  margin-left: 10px;
  padding-right: 1px;
  padding-top: 1px;
  padding-left: 6px;
  border-radius: 2px;
  opacity: 0.25;
}

.yesterday_task_header {
  padding-top: 50px;
  padding-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(79, 86, 105, 1);
}

.total_time {
  display: flex;
  padding-bottom: 8px;
  padding-top: 8px;
}

.total_time_border {
  display: flex;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
  margin-left: 10px;
  border: 2px solid rgba(225, 227, 230, 1);
}

.total_time_text {
  font-size: 16px;
  font-weight: 600;
  color: rgba(79, 86, 105, 1);
  text-align: left;
  text-align: end;
  white-space: pre;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.spent_text {
  font-size: 16px;
  color: rgba(79, 86, 105, 1);
  text-align: left;
  white-space: pre;
  padding: 7px 16px 7px 5px;
}

.sevenDayLimit {
  margin-top: 28px;
  font-weight: bold;
  color: rgb(146, 145, 145);
  font-size: 15px;
}

.last_edit_label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  line-height: 24px;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 4px;
}

.new_task_field {
  display: flex;
  cursor: pointer;
  margin-top: 32px;
  margin-left: -5px;
}

.img_add_new_task {
  height: 24px;
  width: 24px;
}

.add_task_label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  line-height: 24px;
  margin-left: 16px;
}

.today_header {
  padding-top: 50px;
  padding-bottom: 7px;
  display: flex;
}

.today_task_header {
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: rgba(79, 86, 105, 1);
}

.left-arrow {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.right-arrow {
  height: 24px;
  width: 24px;
  margin-left: 7px;
  margin-right: 16px;
  cursor: pointer;
}

.blocked-arrow,
.blocked-arrow:active,
.blocked-arrow:hover {
  cursor: not-allowed !important;
  background-color: #ccccccb7 !important;
  opacity: 0.25;
  border-radius: 4px;
}

.edit_status {
  font-size: 13px;
  color: rgba(178, 178, 178, 1);
  text-align: left;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 4px;
}

.view_all_task {
  position: absolute;
  display: flex;
  width: 137px;
  margin-left: 23%;
  border-radius: 4px;
  line-height: 180%;
  background-color: rgba(229, 229, 229, 1);
  height: 30px;
  border: none;
  outline: none;
  color: rgba(12, 33, 93, 1);
  font-size: 14px;
  font-weight: 500;
}

button.view_all_task::before {
  content: "\e011";
  font-size: 16px;
  font-family: "Glyphicons Halflings";
  margin-right: 5px;
}

.view-all {
  position: absolute;
  right: 325px;
  display: flex;
  border-radius: 5%;
  line-height: 180%;
}

.name-button {
  position: absolute;
  top: 0px;
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

.task-holder {
  position: absolute;
  left: -25%;
  display: flex;
  width: 350px;
  margin-left: 30%;
  font-size: 18px;
  font-weight: 500;
  color: rgba(79, 86, 105, 1);
  border-radius: 5%;
  line-height: 180%;
}

.view {
  height: 24px;
  width: 24px;
}

.alt-View {
  visibility: hidden;
  color: rgba(12, 33, 93, 1);
}

.my_task {
  font-size: 13px;
  width: 100%;
}

.today_task_label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

div.today_ header:hover,
div.today_task_header:hover,
img.left-arrow:hover,
img.right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

div.new_task_field:active,
img.left-arrow:active,
img.right-arrow:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.vertical {
  border-left: 3px solid #eee;
  height: calc(100% - 250px);
  position: absolute;
  right: 51.5%;
}

.button-no {
  background-color: transparent;
  border: none;
  outline: none;
  color: #9a9da7c5;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  margin: 4px 10px;
  cursor: pointer;
}

.button-no:hover,
input[value="Cancel"]:hover {
  background-color: rgba(107, 107, 107, 0.11);
}

.button-no:active,
input[value="Cancel"]:active {
  background-color: rgba(131, 131, 131, 0.37);
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 13px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(181, 186, 201, 1);
}

.img-checked {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 13px;
  cursor: pointer;
}

.dot-blank {
  background-color: #ffffff;
}

.dot-fill {
  border-color: rgb(219, 219, 219);
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0.55);
}

.mobview {
  visibility: hidden;
}

.view_all_task:hover {
  background-color: rgba(177, 177, 177, 0.8);
}

.copied-label1 {
  margin: -14px 16px 0px 383px;
  color: rgb(169, 169, 169);
  font-size: 12px;
}

.copied-label2 {
  margin: -14px 16px 0px 375px;
  color: rgb(169, 169, 169);
  font-size: 12px;
}

.copied-label-mini {
  visibility: hidden;
}

@media screen and (max-width: 1090px) {
  .view_all_task {
    width: 120px;
    right: -114px;
  }

  .view {
    height: 13px;
    width: 13px;
    margin-top: 4px;
    padding-top: 2px;
  }

  #copy1,
  #copy2 {
    margin-left: 25px;
  }

  #block-copy1,
  #block-copy2 {
    margin-left: 25px;
  }

  .my_task {
    font-size: 13px;
  }

  .copied-label1 {
    margin-left: 370px;
  }

  .copied-label2 {
    margin-left: 360px;
  }
}

@media screen and (max-width: 990px) {
  .view_all_task {
    width: 120px;
    right: -144px;
  }

  .view {
    height: 10px;
    width: 10px;
    margin-top: 6px;
    padding-top: 2px;
  }

  #copy1,
  #copy2 {
    margin-left: 10px;
  }

  #block-copy1,
  #block-copy2 {
    margin-left: 10px;
  }

  .last_edit_label {
    padding-left: 2px;
  }

  .spent_text {
    padding-right: 7px;
  }

  .total_time_text {
    padding-left: 7px;
  }

  .my_task {
    font-size: 12px;
  }

  .copied-label1 {
    margin-left: 325px
  }

  .copied-label2 {
    margin-left: 315px
  }
}

@media screen and (max-width: 940px) {
  .header-part {
    width: 100%;
  }

  .main-part {
    padding-left: 2.855%;
  }

  .today_task_label {
    margin-left: 50px;
  }

  .today_header {
    margin-left: 22px;
    margin-top: 5px;
    padding-top: 45px;
  }

  .total_time {
    margin-left: 27px;
  }

  .vertical {
    visibility: hidden;
  }

  .left-header {
    display: none;
  }

  .right-header {
    float: none;
    width: 100%;
  }

  .last_edit_label {
    width: 190px;
    padding-left: 15px;
  }

  #copy1,
  #copy2 {
    cursor: pointer;
    margin-left: 10px;
  }

  #block-copy1,
  #block-copy2 {
    margin-left: 10px;
  }

  .left-part {
    display: none;
  }

  .right-part {
    float: none;
    width: 100%;
    margin-left: 27px;
    padding-left: 0%;
  }

  .copied-label2 {
    margin-left: 405px;
  }
}

@media screen and (max-width: 700px) {
  .name-button {
    position: relative;
    top: 5px;
    margin-top: 0px;
  }

  .today_header {
    margin-top: 5px;
    padding-top: 13px;
  }

  .total_time {
    height: 56px;
  }

  .total_time_border {
    height: 38px;
  }

  .last_edit_label {
    width: 190px;
  }

  .main-part {
    padding-top: 216px;
    padding-right: 20px;
  }

  .alt-View {
    position: absolute;
    top: 4px;
    right: -277px;
  }

  .header-part {
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.17);
  }
}

@media screen and (max-width: 650px) {
  .alt-View {
    visibility: visible;
    position: absolute;
    top: 4px;
    right: -125px;
    height: 22px;
    width: 22px;
    font-size: 22px;
  }

  .view_all_task {
    display: none;
  }

  .view-all {
    right: 140px;
  }
}

@media screen and (max-width: 520px) {

  #copy1,
  #copy2 {
    visibility: hidden;
  }

  #delete1,
  #delete2 {
    visibility: hidden;
  }

  .mobview {
    visibility: visible;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 90%;
    left: 0px;
    display: flex;
    padding: 16px 0px 16px 10px;
    width: 100%;
  }

  .right-part {
    height: 92%;
  }

  .selected-count {
    font-size: 13px;
    font-weight: 600;
    margin-top: 9px;
    margin-left: 10px;
  }

  #copy-mini {
    height: 24px;
    width: 24px;
    background-color: rgba(151, 151, 151, 0.3);
    cursor: pointer;
    margin-top: 7px;
    margin-left: 30px;
    padding: 2px;
    padding-left: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
  }

  #delete-mini {
    height: 24px;
    width: 24px;
    background-color: rgba(151, 151, 151, 0.3);
    cursor: pointer;
    margin-top: 7px;
    margin-left: 20px;
    padding-right: 1px;
    padding-top: 1px;
    padding-left: 6px;
    border-radius: 2px;
  }

  .select-all {
    font-weight: 600;
    font-size: 13px;
    margin-top: 9px;
    margin-left: 10px;
    position: absolute;
    right: 50px;
  }

  #block-copy1,
  #block-copy2,
  #block-delete1,
  #block-delete2 {
    visibility: hidden;
  }

  .header-part {
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.17);
  }

  .main-part {
    padding-top: 220px;
  }

  .copied-label2 {
    display: none;
  }

  .copied-label-mini {
    visibility: visible;
  }
}

@media screen and (max-width: 480px) {
  .alt-View {
    visibility: visible;
    position: absolute;
    height: 22px;
    width: 22px;
    font-size: 22px;
  }

  .total_time {
    width: 500px;
  }

  .total_time_border {
    width: 160px;
    height: 37px;
  }

  .total_time_text {
    padding-left: 9px;
    padding-right: 7px;
    font-size: 14px;
  }

  .spent_text {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 0px;
  }

  .last_edit_label {
    padding-top: 5px;
    font-size: 12px;
  }

  .view {
    height: 16px;
    width: 16px;
    margin-top: 4px;
    padding-top: 2px;
  }

  .my_task,
  .view_all_task {
    display: none;
  }
}

@media screen and (max-width: 398px) {
  .today_task_label {
    font-size: 12px;
  }

  .view-all {
    right: 144px;
  }

  .today_task_header {
    font-size: 16px;
    font-weight: 600;
  }

  .left-arrow {
    height: 20px;
    width: 20px;
  }

  .right-arrow {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .edit_status {
    font-size: 10px;
  }

  .total_time_border {
    width: 160px;
    height: 35px;
  }

  .select-all {
    position: absolute;
    right: 20px;
  }
}

@media screen and (max-width: 380px) {
  .last_edit_label {
    font-size: 12px;
  }
}

@media screen and (max-width: 369px) {
  .today_task_label {
    font-size: 11px;
  }

  .today_task_header {
    font-size: 14px;
    font-weight: 600;
  }

  .left-arrow {
    height: 16px;
    width: 16px;
  }

  .right-arrow {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  .edit_status {
    font-size: 9px;
  }

  .total_time_border {
    height: 35px;
    width: 134px;
    margin-left: 15px;
  }

  .last_edit_label {
    font-size: 10px;
    padding-top: 5px;
    padding-left: 5px;
  }

  .status {
    position: relative;
    right: 5%;
  }

  .total_time_text {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 1px;
  }

  .spent_text {
    font-size: 12px;
    padding-left: 4px;
  }
}

@media screen and (min-height: 1000px) {
  .main-part {
    padding-bottom: 50px;
  }

  .vertical {
    height: calc(100% - 290px);
  }
}

@media screen and (min-height: 700px) {
  .vertical {
    height: calc(100% - 290px);
  }
}
