.header {
  height: 60px;
}
/* Split the screen in half */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 1;
  bottom: 1;
  overflow-x: hidden;
  box-sizing: border-box;
}

.yesterday_header {
  /* padding-left: 160px; */
  margin-bottom: 8px;
}

.today_header {
  /* padding-left: 160px; */
  margin-bottom: 8px;
}



/* Control the left side */

.left {
  left: 1;
  padding-left: 160px;
}

/* Control the right side */

.right {
  right: 0;
  padding-left: 41px;

  padding-right: 127px;
}

/* customizing the scroll bar */

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(241, 241, 241, 1);
  border-radius: 150px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(214, 214, 214, 1);
}

.total_time_border {
  display: flex;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-top: 21px;
}

.yesterday_task_header {
  margin-top: 14px;
  font-family: 'Roboto';
  font-size: 18px;
  color: rgba(79, 86, 105, 1);
}

.today_task_header {
  margin-top: 14px;
  font-family: 'Roboto';
  font-size: 18px;
  color: rgba(79, 86, 105, 1);
}

.spent_text {
  font-family: 'Roboto';
  font-size: 14px;
  color: rgba(79, 86, 105, 1);
  text-align: left;
  white-space: pre;
  padding-top: 9px;
  padding-right: 16px;
}

.total_time_text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: rgba(79, 86, 105, 1);
  text-align: left;
  text-align: end;
  white-space: pre;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 16px;
}

.total_time {
  display: flex;
}
