body {
  box-sizing: border-box;
  overflow: hidden;
}

.first {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 113px;
}

.mainClass {
  position: relative;
  height: 95%;
  width: 100%;
}

h2 {
  padding: 3% 0 0 3%;
}

.card {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  padding: 0% 2% 4.5% 2%;
  margin: 1%;
  height: 90%;
}

.section {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 33.33%;
  text-align: left;
  word-wrap: break-word;
}

.rowstyle {
  font-size: 11pt;
  padding: 1%;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1%;
}

.head {
  text-align: left;
  color: black;
  padding: 1.5% 1%;
  margin-bottom: 1%;
  font-weight: bold;
  background-color: #eeeeee;
}

.search {
  display: flex;
  margin-left: 75%;
}

input[placeholder="Search"] {
  border: none;
  outline: none;
  height: 32px;
  color: rgba(0, 0, 0, 1);
}

.search_icon {
  width: 14px;
  margin: 5%;
}

.search_name {
  padding-top: 3%;
}

.custom-select {
  background-color: #ffffff;
  font-size: 11pt;
  margin-top: -3%;
  padding: 0% 1%;
  word-wrap: break-word;
  border: none;
}

div.section.pagination {
  float: right;
  position: relative;
  top: 88%;
  right: 2%;
}

@media only screen and (max-width: 420px) {
  .first {
    height: 750px;
    width: 100%;
  }

  .mainClass {
    position: relative;
    height: 99.8%;
    width: 100%;
  }

  .search {
    position: fixed;
    margin-top: 2%;
  }


  .search_name {
    padding-top: 0%;
  }

  .card {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 1% 2% 2.5% 2%;
    margin: 1%;
    height: 90%;
  }
}
