
<body>
<div class="mainClass">
 <h2>Users</h2> 
  <div class="card">
    <div>
      <div class="section head">
        <div class="header">User</div>
        <div  class="header">Email</div>
        <div  class="header">Role</div>
      </div>
     
        <div class="section rowstyle member" *ngFor = "let member of memberArray | paginate: {itemsPerPage:5, currentPage: p}">
            <div class="header">{{member.Name}}</div>
            <div class="header email">{{member.Email}}</div>
            <div class="header">
                <select class="custom-select" name="role" #role="ngModel" [(ngModel)]="member.Role" (ngModelChange)="onChange($event, member.Email)" > 
                    <option selected>{{member.Role}}</option>
                    <option *ngFor = "let role of roles">{{role}}</option>   
                </select>
            </div>
          </div>  
          <div>
              <pagination-controls (pageChange)="p =$event"></pagination-controls>
          </div>
    </div>
  </div>
</div>
</body>