<body>
  <div class="mainClass">
    <h2>Users</h2>
    <div class="card">
      <div>
        <div class="section head">
          <div class="header">User</div>
          <div class="header">Email</div>
          <div class="header">User Type</div>
        </div>

        <div class="section rowstyle member" *ngFor="let member of memberArray | paginate: {itemsPerPage:8, currentPage: p}">
          <div class="header">{{member.name}}</div>
          <div class="header email">{{member.email}}</div>
          <div class="header">
            <select class="custom-select" name="userType" #role="ngModel" [(ngModel)]="member.userType" (ngModelChange)="onChange($event, member.email)">
              <option selected>{{member.userType}}</option>
              <option *ngFor="let type of userTypes">{{type}}</option>
            </select>
          </div>
        </div>
        <div>
          <pagination-controls (pageChange)="p =$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</body>