textarea {
  resize: none;
  outline: none;
  border: none;
}

.body {
  margin: 0 auto;
  max-width: 450px;
}

.mainclass {
  padding-top: 50%;
}

.subclasszero {
  padding: 10px 0px 10px 0px;
  margin: auto;
  width: 80%;
  height: 5.3%;
}

.high-light-element {
  background-color: rgba(197, 194, 194, 0.404);
}

.project-name {
  border: none;
  outline: none;
  margin: auto;
  overflow-x: scroll;
  overflow-x: hidden;
  font-size: 32px;
  max-height: 135px;
  width: 100%;
  color: rgba(43, 42, 42, 0.719);
  text-overflow: ellipsis;
}

small.error {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.subclassone {
  margin: auto;
  display: flex;
  width: 80%;
  height: 5.3%;
  cursor: pointer;
}

.adddescriptionlogoclass {
  height: 12px;
  width: 12px;
  margin: 13px 4px 13px 0px;
}

img[src="../../assets/add-icon.png"] {
  height: 12px;
  width: 12px;
}

.adddescriptionclass {
  color: rgba(79, 86, 105, 1);
  font-size: 16px;
  font-weight: 500;
  margin: 10px 4px 10px 0px;
}

.descriptioninputclass {
  margin: auto;
  width: 80%;
  display: block;
  overflow: auto;
  padding: 10px 0px 10px 0px;
}

div[contenteditable="true"] {
  border: none;
  outline: none;
}

.projectmembersclass {
  margin: 0px 0px 0px 35px;
  padding: 10px 0px 10px 10px;
}

.teamclass {  
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin: 10px 0px 0px 0px;
}

.teamclass:hover {
  cursor: default;
}

.email-input {
  font-size: 12px;
}

.memberclass {
  margin: 0px 0px 10px 0px;
}

.member {
  margin: auto;
  font-size: 13px;
  color: rgba(0, 0, 0, 1);
  margin: 0px 20px 0px 0px;
  display: flex;
}

select {
  border: none;
  outline: none;
  height: 20px;
  width: 100%;
  font-size: 13px;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  margin: 0px 0px 0px 10px;
}

.delete {
  height: 14px;
  width: 14px;
  margin-left: 15px;
  cursor: pointer;
}

img[src="../../assets/delete_mail.png"] {
  height: 14px;
  width: 14px;
}

.memberinputclass {
  margin: auto;
  width: 80%;
  height: 100%;
  padding: 0px 0px 10px 0px;
}

.role-group {
  display: flex;
  float: left;
}

.role-label {
  height: 24px;
  padding: 6px 16px 6px 16px;
  border-radius: 3px;  
  font-size: 10px;
  color: rgba(77, 75, 75, 0.637);
  background-color: #b8b8be52;
}

input[placeholder="Email"] {
  border: none;
  outline: none;
  height: 30px;
  width: 50%;
  background-color: transparent;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  margin: 0px 10px 0px 0px;
}

select[id="rolevalue"] {
  border: none;
  height: 30px;
  width: 45%;  
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  margin: 0px 0px 0px 10px;
}

.subclasstwo {
  margin: auto;
  display: flex;
  width: 80%;
  height: 5.3%;
  cursor: pointer;
}

.project-member-error {
  display: flex;
  width: 80%;
  margin: auto;
}

.project-name:hover,
.subclassone:hover,
.subclasstwo:hover {
  background-color: rgba(224, 224, 224, 0.274);
  cursor: pointer;
}

.subclassone:active {
  background-color: rgba(131, 129, 129, 0.3);
}

.addmemberlogoclass {
  height: 12px;
  width: 12px;
  margin: 13px 4px 13px 0px;
}

.addmemberclass {
  color: rgba(79, 86, 105, 1);
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}

.addcancelclass {
  margin: auto;
  width: 80%;
  display: flex;
  align-content: right;
}

.button-yes {
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
  background-color: #a3a3a3de;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  margin: 4px 10px;
  cursor: pointer;
}

.button-yes:hover {
  background-color: #a3a3a39f;
}

.button-yes:active {
  background-color: #8b8b8b;
}

.button-no {
  background-color: transparent;
  border: none;
  outline: none;
  color: #9a9da7c5;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  margin: 4px 10px;
  cursor: pointer;
}

input[value="Cancel"] {
  height: 30px;
  width: 35%;
  border: none;
  outline: none;
  font-size: 13px;
  color: #9a9da7c5;
  margin: 10px;
  margin-left: auto;
  margin-right: 0;
  font-weight: 600;
  border-radius: 2px;
  background-color: transparent;
}

input[value="Create Project"],
input[value="Update Project"] {
  height: 32px;
  width: 120px;
  border: none;
  outline: none;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  background-color: #a3a3a3de;
  margin: 10px;
  margin-left: auto;
  margin-right: 0;
  font-weight: bold;
  border-radius: 2px;
}

input[value="Create Project"]:hover,
input[value="Update Project"]:hover {
  background-color: #a3a3a39f;
}

input[value="Create Project"]:active,
input[value="Update Project"]:active {
  background-color: #8b8b8b;
}

.button-no:hover,
input[value="Cancel"]:hover {
  background-color: rgba(107, 107, 107, 0.11);
}

.button-no:active,
input[value="Cancel"]:active {
  background-color: rgba(131, 131, 131, 0.37);
}

@media(max-width:350px) {
  .projectmembersclass {
    padding: 10px 0px 10px 0px;
  }
}

@media(max-width:345px) {
  .project-name {
    font-size: 28px;
  }

  input[placeholder="Email"] {
    font-size: 13px;
    width: 40%;
  }
}

@media(min-width:1000px) {

  .body {
    max-width: 500px;
  }

  .mainclass {
    padding-top: 25%;
  }

  img[src="../../assets/add-icon.png"] {
    height: 14px;
    width: 14px;
  }

  .adddescriptionlogoclass {
    height: 14px;
    width: 14px;
    margin: 13px 4px 13px 0px;
  }

  .project-name {
    font-size: 40px;
    max-height: 180px;
  }

  .adddescriptionclass {
    font-size: 20px;
  }

  .teamclass {
    font-size: 16px;
  }

  .projectmembersclass {
    padding: 10px 0px 10px 18px;
  }

  .email-input {
    font-size: 16px;
  }

  .member {
    font-size: 16px;
  }

  select {
    font-size: 14px;
    height: 22px;
  }

  .role-label {
    height: 28px;
    padding: 6px 16px 6px 16px;
    font-size: 13px;
    text-align: center;
  }

  .descriptioninputclass {
    font-size: 16px;
  }

  input[placeholder="Email"] {
    font-size: 16px;
  }

  select[id="rolevalue"] {
    font-size: 16px;
    height: 32px;
  }

  .addmemberclass {
    font-size: 18px;
    margin-left: 10px;
  }

  small.error {
    font-size: 14px;
  }

  .addcancelclass {
    align-content: center;
    margin-right: 20%;
  }

  input[value="Create Project"],
  input[value="Update Project"],
  input[value="Cancel"] {
    height: 36px;
    width: 35%;
    font-size: 16px;
  }
}

@media(min-width:1500px) {

  .body {
    max-width: 800px;
  }

  .mainclass {
    padding-top: 30%;
  }

  img[src="../../assets/add-icon.png"] {
    height: 16px;
    width: 16px;
  }

  .adddescriptionlogoclass {
    height: 16px;
    width: 16px;
    margin: 13px 4px 13px 0px;
  }

  .project-name {
    font-size: 48px;
    max-height: 190px;
  }

  .role-label {
    height: 32px;
    font-size: 16px;
  }

  .adddescriptionclass {
    font-size: 24px;
  }

  .teamclass {
    font-size: 20px;
  }

  .projectmembersclass {
    padding: 10px 0px 10px 52px;
  }

  .email-input {
    font-size: 20px;
  }

  .member {
    font-size: 20px;
  }

  select {
    font-size: 18px;
    height: 24px;
  }

  .descriptioninputclass {
    font-size: 20px;
  }

  input[placeholder="Email"] {
    font-size: 20px;
  }

  select[id="rolevalue"] {
    font-size: 20px;
    height: 36px;
  }

  .addmemberclass {
    font-size: 22px;
    margin-left: 16px;
  }

  small.error {
    font-size: 18px;
  }

  input[value="Create Project"],
  input[value="Update Project"],
  input[value="Cancel"] {
    height: 40px;
    width: 30%;
    font-size: 18px;
  }

  input[value="Create Project"],
  input[value="Update Project"] {
    margin-right: 15%;
  }

}

@media(min-width:2500px) {

  .body {
    max-width: 1500px;
  }

  .mainclass {
    padding-top: 30%;
  }

  .project-name {
    font-size: 64px;
    max-height: 260px;
  }

  .role-label {
    height: 34px;
    font-size: 20px;
  }

  img[src="../../assets/add-icon.png"] {
    height: 32px;
    width: 32px;
  }

  .adddescriptionlogoclass {
    height: 32px;
    width: 32px;
    margin: 13px 4px 13px 0px;
  }

  .adddescriptionclass {
    font-size: 32px;
  }

  .teamclass {
    font-size: 30px;
  }

  .projectmembersclass {
    padding: 10px 0px 10px 120px;
  }

  .email-input {
    font-size: 30px;
  }

  .member {
    font-size: 30px;
  }

  select {
    font-size: 26px;
    height: 30px;
  }

  .descriptioninputclass {
    font-size: 30px;
  }

  input[placeholder="Email"] {
    font-size: 30px;
  }

  select[id="rolevalue"] {
    font-size: 30px;
    height: 40px;
  }

  .addmemberclass {
    font-size: 32px;
    margin-left: 18px;
  }

  small.error {
    font-size: 26px;
  }

  input[value="Create Project"],
  input[value="Update Project"],
  input[value="Cancel"] {
    height: 60px;
    width: 30%;
    font-size: 26px;
  }

  input[value="Create Project"],
  input[value="Update Project"] {
    margin-right: 15%;
  }

}
