.MainDiv {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.TopDiv {
  height: 65px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: fixed;
  z-index: 40;
  padding-top: 20px;
  top: 60px;
  border-top: 1px solid #dfded9;
  padding-bottom: 10px;
}

.BottomDiv {
  width: 100%;
  margin-left: 5%;
}

.noProject {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-size: 20px;
  color: rgb(187, 187, 187);
  font-weight: 400;
  text-align: center;
}

.smiley {
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 120px;
  filter: opacity(30%);
}

.footer-div {
  height: 25px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 40;
  bottom: 0px;
}

.ProjectHeadingDiv {
  margin-left: 88px;
  padding-top: 6px;
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 12%;
}

.ProjectHeadingTextDiv {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: rgba(79, 86, 105, 1);
  height: 21px;
  position: absolute;
}

.AddProjectButton {
  position: absolute;
  left: 256px;
  height: 32px;
  width: 115px;
  background-color: #b1b1b1;
  border-radius: 4px;
  display: flex;
  border-style: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  border-color: #555;
}

.UserList {
  position: absolute;
  left: 375px;
  height: 32px;
  width: 85px;
  padding-left: 14px;
  text-align: center;
  background-color: #b1b1b1;
  border-radius: 4px;
  display: flex;
  border-style: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border-color: #555;
}

.AddProjectButton:hover,
.UserList:hover,
.UserList:active {
  background-color: #b1b1b1;
}

.AddProjectDiv {
  text-align: center;
  margin: 5%;
  padding-left:9px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.BottomDiv {
  margin-top: 140px;
  margin-right: 88px;
  margin-bottom: 75px;
  height: 100%;
  width: 90%;
  background-color: white;
}

.ProjectBoxDiv {
  float: left;
  height: 172px;
  width: 352px;
  margin-right: 15px;
  margin-top: 15px;
  background-color: #EFF4F9;
  border: 1px solid #DFDFDF;
}


.ProjectNameBoxDiv {
  height: 70px;
  width: 100%;
  word-wrap: break-word;
}

.ProjectNameDiv {
  height: 120px;
  color: black;
  font-size: 24px;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: auto;

}

.InnerProjectBoxDiv {
  margin: 54px 20px 36px 24px;
  height: 32px;
  display: flex;
}

.SmallCircleButton {
  width: 29px;
  height: 29px;
  border-radius: 16px;
  margin-left: -13px;
  border:none;
  /* border: 1px solid white; */
  outline: none;
}

.SmallCircleButton2 {
  width: 30px;
  height: 30px;
  margin-top:-2px;
  border-radius: 16px;
  margin-left: -15px;
  border: 1px solid white;
  outline: none;
}

.SmallCircleNameDiv {
  /* color: white; */
  margin-left: -6px;
  font-weight: 600;
  margin-top: -1px;
}

.memberImage {
  object-fit: contain;
  /* margin-left:-7px; */
  width: 28px;
  height: 28px;
  border-radius: 50% 50% 50% 50%;
}

.SmallCircleButton1Even {
  background-color: white;
}

.SmallCircleButton2 {
  background-color: rgb(90, 90, 90);
}

.ExtraMembersDiv {
  padding-right: 4px;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.ExtraMemberDiv:hover {
  background-color: #b1b1b1;
}

.TwoButton {
  position: absolute;
  width: 300px;
}

.DailyStatusButton {
  position: absolute;
  height: 32px;
  width: 100px;
  border-radius: 16px;
  margin-left: 50%;
  background-color: #b1b1b1;
  border: none;
  outline: none;

}

.DailyStatusButton:hover {
  background-color: rgb(168, 168, 168);
}

.DailyStatusDiv {
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 5px 5px;
}

.MenuButton {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 85%;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;

}

.MenuButton:hover {
  background-color: rgb(168, 168, 168);
}

.DropdownButton {
  position: relative;
  display: block;
}

.DropdownContentDiv {
  top: 40px;
  left: -100px;
  display: none;
  position: absolute;
  background-color: #b1b1b1;
  color: white;
  width: 129px;
  height: 80px;
  border-radius: 4px;
  z-index: 43;
  border: none;
}
.DropdownContentDiv {
  display: block;
}

.DropdownButton:focus {
  display: inline-block;
}

.Button {
  height: 30px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
}

.EditDiv {
  margin-top: 11px;
  cursor: pointer;
  padding-left: 9px;
}

.DeleteDiv {
  margin-top: 4px;
  padding-left: 8px;
  cursor: pointer;
}

.EditDiv:hover,
.DeleteDiv:hover {
  font-weight: 600;
}

.MenuDotDiv {
  margin-left: 14px;
  color: white;
  padding-top: 4px;
}

.BottomDiv:after {
  content: "";
  display: table;
  clear: both;
}

.button-yes {
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
  background-color: #a3a3a3de;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  margin: 4px 10px;
  cursor: pointer;
}

.button-yes:hover {
  background-color: #a3a3a39f;
}

.button-yes:active {
  background-color: #8b8b8b;
}

.button-no {
  background-color: transparent;
  border: none;
  outline: none;
  color: #9a9da7c5;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  margin: 4px 10px;
  cursor: pointer;
}

.button-no:hover,
input[value="Cancel"]:hover {
  background-color: rgba(107, 107, 107, 0.11);
}

.button-no:active,
input[value="Cancel"]:active {
  background-color: rgba(131, 131, 131, 0.37);
}

@media screen and (max-width: 1200px) {
  .MainDiv {
    width: 100%;
  }

  .BottomDiv {
    width: 100%;
    margin-left: 5%;
  }

  .ProjectBoxDiv {
    width: 340px;
  }

  .TwoButton {
    width: 300px;
  }

  .DailyStatusButton {
    margin-left: 46%;
  }

  .MenuButton {
    margin-left: 85%;
  }

  .noProject {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .MainDiv {
    width: 100%;
  }

  .BottomDiv {
    width: 100%;
  }
  /* .AddProjectDiv {
    padding-left:0px;
  }
   */

  .ProjectBoxDiv {
    width: 350px;
    margin-top: 20px;
    /* margin-left: 7%; */
  }

  .ExtraMembersDiv {
    margin-left: -3px;
  }
  .TwoButton {
    width: 300px;
  }

  .DailyStatusButton {
    margin-left: 46%;
    width:115px;
  }

  .noProject {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-size: 15px;
    text-align: center
  }

  .MenuButton {
    margin-left: 85%;
  }
}

@media screen and (max-width: 520px) {
  .MainDiv {
    width: 100%;
  }

  .ProjectHeadingDiv {
    display: none;
  }

  .UserList {
    left: 60%;
  }
  .ExtraMembersDiv {
    margin-left: -4.3px;
  }

  .memberImage {
    margin-left:-7px;
  }
  .AddProjectButton {
    left: 10%;
    width: 115px;
  }

  .BottomDiv {
    margin-top: 100px;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
  }

  .ProjectBoxDiv {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
  }

  .TwoButton {
    width: 83%;
  }

  .DailyStatusButton {
    margin-left: 46%;
    width:115px;
  }

  .noProject {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-size: 15px;
    text-align: center
  }

  .MenuButton {
    margin-left: 85%;
  }
}
