<html>

<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
</head>

<body>
  <div class="MainDiv">
    <div class="TopDiv">
      <div class="ProjectHeadingDiv">
        <div class="ProjectHeadingTextDiv">My Projects ({{noOfProjects}})</div>
      </div>

      <button *ngIf="flag2 === true" class="AddProjectButton" (click)="AddProject()">
        <div class="AddProjectDiv">Add Project</div>
      </button>
      <button *ngIf="flag1 === true" class="UserList" (click)="gotoUsersList()"> User List
      </button>
    </div>
    <div class="BottomDiv">
      <div *ngIf="noOfProjects === 0">
        <img class="smiley" src="../../assets/2018-09-19.png">
        <div class="noProject"> Oops! You have no Projects assigned...</div>
      </div>
      <div class="ProjectBoxDiv" *ngFor="let Project of newproject ; let j=index">
        <div class=" ProjectNameBoxDiv">
          <div class="ProjectNameDiv">{{Project.projectName}}</div>
        </div>
        <div class="InnerProjectBoxDiv">
          <div *ngFor="let member of Project.members ; let i=index">
            <div *ngIf="i<4">
              <button class="SmallCircleButton1Odd SmallCircleButton">
                <div class="SmallCircleNameDiv">
                  <img class="memberImage" src="{{member.image}}"></div>
              </button>
            </div>
          </div>
          <div *ngIf="noOfMembers[j]-4>0">
            <button class="SmallCircleButton2">
              <div class="ExtraMembersDiv">+{{noOfMembers[j]-4}}</div>
            </button>
          </div>
          <div class="TwoButton">
            <button class="DailyStatusButton" (click)="openDailyStatus(Project)">
              <div class="DailyStatusDiv">Daily Status</div>
            </button>
            <button class="MenuButton DropdownButton" *ngIf="flag2 === true">
              <div class="DropdownContentDiv">
                <div class="EditDiv Button" (click)="EditProject(Project)">

                  Edit Project

                </div>
                <div class="DeleteDiv Button" (click)="DeleteProject(Project.projectId)">
                  Delete Project
                </div>
              </div>
              <div class="MenuDotDiv">
                <img src="../../assets/Menudots.png">
              </div>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-div">
  </div>
</body>
<div style="position : fixed; height : 10px;"></div>

</html>
