.MainDiv {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.TopDiv {
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: fixed;
  z-index: 40;
  padding-top: 8px;
  top: 60px;
}

.ProjectHeadingDiv {
  margin-left: 88px;
  padding-top: 6px;
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 12%;
}

.ProjectHeadingTextDiv {
  text-align: left;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: rgba(79, 86, 105, 1);
  height: 21px;
  position: absolute;
}

.AddProjectButton {
  position: absolute;
  left: 256px;
  height: 32px;
  width: 138px;
  background-color: rgb(5, 87, 255);
  border-radius: 4px;
  display: flex;
  border-style: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
}

.UserList {
  position: absolute;
  left: 450px;
  height: 32px;
  width: 70px;
  background-color: rgb(5, 87, 255);
  border-radius: 4px;
  display: flex;
  border-style: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto';
}

.AddProjectButton:hover,
.UserList:hover,
.UserList:active {
  background-color: rgb(51, 5, 255);
}

.PlusSignDiv {
  margin: 5px;
  margin-top: 8px;
  width: 15px;
  height: 15px;
  background-color: white;
}

.PlusSignImage {
  height: 13px;
  width: 11px;
  padding-bottom: 5.5px;
}

.AddProjectDiv {
  text-align: center;
  margin: 5%;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.BottomDiv {
  margin-top: 110px;
  margin-left: 88px;
  margin-right: 88px;
  margin-bottom: 75px;
  height: 100%;
  width: 100%;
  background-color: white;
}

.ProjectBoxDiv {
  float: left;
  height: 172px;
  width: 352px;
  margin-right: 35px;
  margin-top: 35px;
  background-color:  rgba(151, 151, 151, 0.2); 
}


.ProjectNameBoxDiv {
  height: 70px;
  width: 100%;
}

.ProjectNameDiv {
  color: black;
  font-size: 24px;
  font-family: 'Roboto';
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.InnerProjectBoxDiv {
  margin: 54px 24px 36px 24px;
  height: 32px;
  display: flex;
}

.SmallCircleButton {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: -12px;
  border: 1px solid white;
  outline: none;
}


.SmallCircleNameDiv {
  color: white;
  margin-left: -6px;
  font-weight: 600;
  margin-top: -1px;
}

.memberImage {
  object-fit: contain;
  width: 140%;
  height: 140%;
  border-radius: 50% 50% 50% 50%;
}

.SmallCircleButton1Even {
  background-color: white;
}

.SmallCircleButton2 {
  background-color: rgb(5, 87, 255);
}

.ExtraMembersDiv {
  padding-right: 4px;
  padding-top: 2px;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.ExtraMemberDiv:hover {
  background-color: rgb(51, 5, 255);
}

.DailyStatusButton {
  height: 32px;
  width: 115px;
  border-radius: 16px;
  margin-left: 37px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.DailyStatusButton:hover {
  background-color: rgb(168, 168, 168);
}

.DailyStatusDiv {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 5px 5px;
  color: rgb(5, 87, 255);
  font-family: 'Roboto'
}

.MenuButton {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 7px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.MenuButton:hover {
  background-color: rgb(168, 168, 168);
}

.DropdownButton {
  position: relative;
  display: block;
}

.DropdownContentDiv {
  top: 40px;
  left: -100px;
  display: none;
  position: absolute;
  background-color: rgb(5, 87, 255);
  width: 129px;
  height: 80px;
  border-radius: 4px;
  z-index: 1;
  border: none;
}

.DropdownButton:focus .DropdownContentDiv {
  display: inline-block;
}

.Button {
  background-color: rgb(5, 87, 255);
  height: 30px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 13px;
}

.EditDiv {
  margin-top: 7px;
  font-weight: 600;
  padding-left: 0px;
}

.DeleteDiv {
  margin-top: 5px;
  padding-left: 8px;
}

.EditButton:hover,
.DeleteButton:hover {
  background-color: rgb(51, 5, 255);
}

.MenuDotDiv {
  margin-left: 0px;
  padding-top: 2px;
  color: white;
}

.BottomDiv:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1200px) {
  .MainDiv {
    width: 100%;
  }

  .BottomDiv {
    width: 100%;
  }

  .ProjectBoxDiv {
    width: 352px;
  }
}

@media screen and (max-width: 620px) {
  .MainDiv {
    width: 100%;
  }

  .TopDiv {
    display: none;
    height: 0px;
  }

  .BottomDiv {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
    margin-top: 60px;
  }

  .ProjectBoxDiv {
    width: 310px;
    margin-top: 16px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .DailyStatusButton {
    margin-left: 11px;
  }

  .MenuButton {
    margin-left: 5px;
  }
}
