@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

* {
  font-family: "Open Sans"
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

body .bs-datepicker-container .bs-datepicker-head {
  background: #ffffff;
  outline: none;
  border: none;
  margin: none;
  text-align: center;
  color: #676767;
  font-size: 20px;
  font-weight: bold;
}

body .bs-datepicker-container .bs-datepicker-head span {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: normal;
}

body .bs-datepicker-container {
  padding: 0px;
  margin: 0px;
  width: 350px;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-weight: 500;
}

body .bs-datepicker-container .bs-datepicker-body {
  background-color: #ffffff;
  border: none;
  padding: 0px;
}

body .bs-datepicker .is-other-month {
  color: rgba(135, 206, 250, 1);
}

body .bs-datepicker-body table td span {
  font-weight: bold;
}

body .bs-datepicker-container .bs-datepicker-head * {
  color: rgba(12, 33, 93, 1);
  font-size: 20px;
}

.theme-orange .bs-datepicker-body table td {
  color: rgba(12, 33, 93, 1);
  font-size: 15px;
  font-weight: 500;
}

.theme-orange .bs-datepicker-body table th {
  color: rgba(225, 227, 230, 1);
  font-weight: bold;
  font-family: 'Helvetica Neue', 'Roboto';
  font-size: 13px;
}

.theme-orange .bs-datepicker-body table td span.selected,
.theme-orange .bs-datepicker-body table td.selected span,
.theme-orange .bs-datepicker-body table td span[class*="select-"]:after,
.theme-orange .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: rgba(12, 33, 93, 1);
  color: white;
}

.theme-orange .bs-datepicker-body table td span.disabled {
  color: rgba(135, 206, 250, 0.5);
}

.modal.in .modal-dialog {
  height: 100%;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 1500px) {
  body .bs-datepicker-container {
    width: 340px;
  }
}

@media screen and (max-width: 1400px) {
  body .bs-datepicker-container {
    width: 330px;
  }
}

@media screen and (max-width: 1250px) {
  body .bs-datepicker-container {
    width: 320px;
  }
}

@media screen and (max-width: 1200px) {
  body .bs-datepicker-container {
    width: 300px;
  }
}

@media screen and (max-width: 910px) {
  body .bs-datepicker-container {
    position: fixed;
    left: 15px !important;
  }
}

@media screen and (max-width: 395px) {
  body .bs-datepicker-container {
    position: fixed;
    left: 5px !important;
  }
}

@media screen and (max-width: 384px) {
  body .bs-datepicker-container {
    position: fixed;
    width: 350px;
    left: 5px !important;
  }
}

@media screen and (max-width: 359px) {
  body .bs-datepicker-container {
    position: fixed;
    width: 305px;
    left: 5px !important;
  }
}

@font-face {
  font-family: NeoSansCyr-Regular;
  src: url(assets/NeoSansCyr-Regular.ttf) format("opentype");
}

.col-sm-2 {
  width: 175px;
  height: 10px;
  display: flex;
  padding-top: 8px;
  padding-left: 35px;
}

.form-control {
  width: 40%;
  padding: 6px 6px;
  margin-right: 3px;
}

@media (min-width: 768px) {

  .col-sm-2 {
    width: 175px;
    height: 10px;
    display: flex;
    padding-top: 8px;
    padding-left: 35px;
  }

  .form-control {
    width: 40%;
    padding: 6px 6px;
    margin-right: 3px;
  }

  .pagination {
    margin-top: 6px;
  }
}

.modal-content {
  margin-top: 200px;
}

@media (min-width: 2500px) {

  .modal-content {
    margin-top: 500px;
  }
}

@media (min-width: 1500px) {

  .modal-content {
    margin-top: 400px;
  }
}

.modal-content {
  margin-top: 200px;
}
