<div class="part_1">
  <div>
    <span *ngIf="tid%7===0" class="dot dot-color-1"></span>
    <span *ngIf="tid%6===0 && tid%7!=0" class="dot dot-color-2"></span>
    <span *ngIf="tid%5===0 && tid%6!=0 && tid%7!=0" class="dot dot-color-3"></span>
    <span *ngIf="tid%3===0 && tid%5!=0  && tid%6!=0 && tid%7!=0" class="dot dot-color-4"></span>
    <span *ngIf="tid%3!=0 && tid%5!=0  && tid%6!=0 && tid%7!=0" class="dot dot-color-5"></span>
  </div>
  <div #des class="description" spellcheck="false" *ngIf="task.description!==''" data-text="Add description"
    [contentEditable]="editable" (blur)="updateDescription()" (click)="show_save=true; stageTaskDesc(task)">
    {{task.description}}
  </div>
  <div #des class="description" spellcheck="false" *ngIf="task.description===''" data-text="Add description"
  [contentEditable]="editable" (blur)="updateDescription()" (click)="show_save=true">
  </div>
</div>

<div class="impediments" spellcheck="false" #imp [contentEditable]="editable" *ngIf="show_impediment==true" (blur)="updateImpediment()"
  (click)="show_save=true">
  <img class="img_impediment" src="../../assets/impediment.png" align="top"> {{task.impediments}}
</div>

<div class="time" (click)="stageTaskTime(task)">
  <div class="time_border" *ngIf="(task.hourSpent>0 || task.minuteSpent>0) && edit_time_spent==false" (click)="edit_time_spent=true; show_save=true">
    <div *ngIf="task.hourSpent>0">
      {{task.hourSpent}} hour
    </div>
    {{task.minuteSpent}} minutes
  </div>

  <div class="add_hours" *ngIf="task.hourSpent===0 && task.minuteSpent===0 && edit_time_spent==false" (click)="edit_time_spent=true; show_save=true">
    Add Hours Spent
  </div>
  <div *ngIf="edit_time_spent==true" class="add_hours"  >
    <select class="custom-select" name="hourSpent" [(ngModel)]="task.hourSpent" (blur)="edit_time_spent=false; emitTimeEvent(task);">
      <option *ngFor="let i of timeArray(hours).fill(1); let j=index">{{j}}</option>
    </select>
    <select class="custom-select" name="minuteSpent" [(ngModel)]="task.minuteSpent" (blur)="edit_time_spent=false; emitTimeEvent(task);">
      <option *ngFor="let i of timeArray(minutes).fill(1); let j=index">{{j}}</option>
    </select>
  </div>

  <div class="add_impediment" *ngIf="task.impediments== '' && show_impediment==false && editable==true" (click)="show_impediment=true;">
    Add Impediments
  </div>
</div>

<!-- <div class="impediments" spellcheck="false" #imp contenteditable="true" *ngIf="show_impediment==true" (blur)="updateImpediment()">
  <img class="img_impediment" src="../../assets/impediment.png" align="top"> {{task.impediments}}
</div> -->
<div class="status" *ngIf="editable" >
  <div class="cancel" *ngIf="show_save" (click)="cancelChange(task)">cancel</div>
  <button class="save" *ngIf="show_save" (click)="save(task)">Save</button>

  <div class="saved"  *ngIf="show_save==false && saved==true" >Saved!</div>
</div>
